:root {
	--vulcan-50: #f5f5fa;
	--vulcan-100: #ebebf3;
	--vulcan-200: #d2d4e5;
	--vulcan-300: #aaadcf;
	--vulcan-400: #7c81b4;
	--vulcan-500: #5c619b;
	--vulcan-600: #484c81;
	--vulcan-700: #3b3d69;
	--vulcan-800: #343558;
	--vulcan-900: #2f304b;
	--vulcan-950: #141420;

	--dodger-blue-50: #eff7ff;
	--dodger-blue-100: #deeeff;
	--dodger-blue-200: #b6dfff;
	--dodger-blue-300: #76c6ff;
	--dodger-blue-400: #2eaaff;
	--dodger-blue-500: #028df1;
	--dodger-blue-600: #0070d2;
	--dodger-blue-700: #005aaa;
	--dodger-blue-800: #004c8c;
	--dodger-blue-900: #073f73;
	--dodger-blue-950: #04284d;
}
